*{
  box-sizing:border-box;
  margin: 0%;
  padding: 0%;
}
body{
  padding: 40px;
  background-color: #151515;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h1{

  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
} 
.card-container  {
  
  border:2px solid white;
  max-width: 1024px;
  margin: 0 auto;
  
}
.card{
  border: 1px solid #0be58a;
  margin: 10px;
  padding: 20px;
  background-color: #31363f;
  min-height: 100px;
}
button{
  border:none;
  font-size: 30px;
  background-color: transparent;
  width: 100%;
  color: aliceblue;
  text-align:right;
  cursor:pointer;
}
